* {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: cursive;
}

.navbar ul li a:hover {
    color: red;
}

.navbar.active {
    background-color: black;
}

.navbar.active ul li a {
    color: white;
}


.top-container {
    background: url("https://images.unsplash.com/photo-1589652717521-10c0d092dea9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvbXB1dGVyfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-container h1 {
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.text {
    margin: 50px 5%;
    font-family: sans-serif;
}