* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
    background-color: #ee6c4d;
}

.calender-container {
    background-color: #98c1d9;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.month-name {
    margin: 0;
    background-color: #3d5a80;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.day-name {
    font-size: 20px;
    color: #e0fbfc;
}

.day-number {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
    color: #293241;
}

.year {
    margin: 20px 0;
    font-size: 20px;
    color: #e0fbfc;
}