* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdca40;
}

.image-container {
    text-align: center;
}

.image-container img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    background-color: #e6e8e6;
    width: 300px;
    height: 300px;
}

.btn {
    background-color: #df2935;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}